<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.matrix.test">

    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="35" />

    <instrumentation
        android:name="com.wix.detox.DetoxTestRunner"
        android:targetPackage="com.matrix"
        android:label="Detox Tests" />

</manifest>
