name: "CI Pipeline"

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  lint-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: "Checkout code"
        uses: actions/checkout@v2

      - name: "Set up JDK 11"
        uses: actions/setup-java@v2
        with:
          java-version: "11"

      - name: "Set up Node.js"
        uses: actions/setup-node@v2
        with:
          node-version: "22.9.0"

      - name: "Cache Node.js modules"
        uses: actions/cache@v2
        with:
          path: node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: "Install Dependencies"
        run: npm install

      - name: "Run Lint"
        run: npm run lint

      - name: "Run Prettier "
        run: npm run format
      
      - name: "Run Unit Tests"
        run: npm test

      - name: "Send Discord notification on failure"
        if: failure()
        run: |
            curl -H "Content-Type: application/json" \
            -X POST \
            -d '{"content":"CI Pipeline failed! Please check the logs."}' \
            ${{secrets.DISCORD_WEBHOOK_URL}}

      - name: "Send Discord notification on sucesss"
        if: success()
        run: |
            curl -H "Content-Type: application/json" \
            -X POST \
            -d '{"content":"CI Pipeline succeeded! All tests passed."}' \
            ${{secrets.DISCORD_WEBHOOK_URL}}

  deploy: 
    runs-on: ubuntu-latest 
    needs: lint-and-test

    steps:
      - name: "Checkout code"
        uses: actions/checkout@v2

      - name: "Setup jdk 17"
        uses: actions/setup-java@v2
        with:
          java-version: "17"
          distribution: "temurin"

      - name: "Setup Node.js"
        uses: actions/setup-node@v2
        with:
          node-version: "22.9.0"
      - name: "Cache Node.js modules"
        uses: actions/cache@v2
        with:
          path: node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: "Install Dependencies"
        run: npm install
      
      - name : "Install Fastline"
        run: sudo gem install fastlane -NV
      
      - name: "Deploy to Google Play Store"
        run: |
          echo "$GOOGLE_PLAY_SERVICE_ACCOUNT_JSON" > android/fastlane/matrixcredential.json
          cd android
          fastlane playstore
      
      - name: "Send Discord notification on failure"
        if: failure()
        run: |
            curl -H "Content-Type: application/json" \
            -X POST \
            -d '{"content":"Deploy failed! ❌ Please check the logs."}' \
            ${{secrets.DISCORD_WEBHOOK_URL}}

      - name: "Send Discord notification on sucesss"
        if: success()
        run: |
            curl -H "Content-Type: application/json" \
            -X POST \
            -d '{"content":"Deploy succeeded!✅ All tests passed."}' \
            ${{secrets.DISCORD_WEBHOOK_URL}}